@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulsate {
  0% {
    width: 30px;
    height: 30px;
    border-width: 8px;
  }
  30% {
    width: 30px;
    height: 30px;
    border-width: 8px;
  }
  45% {
    width: 35px;
    height: 35px;
    border-width: 6px;
  }
  55% {
    width: 35px;
    height: 35px;
    border-width: 6px;
  }
  70% {
    width: 30px;
    height: 30px;
    border-width: 8px;
  }
  100% {
    width: 30px;
    height: 30px;
    border-width: 8px;
  }
}
