// Colors
$blue-dark: #001b8a;
$blue-medium: #61c1eb;
$blue-light: #a7d5f2;
$orange-light: #ffb456;
$orange-dark: #803b00;

$black: #040404;
$white: #fafafa;

// Font-size
$default-font-size: 1.6rem;

// Transition
$anim: all 0.2s ease-in-out;

// Border-radius
$radius: 3rem;
