.offer {
  background-image: url(../../images/snow_mountains_color_m.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__intro {
    margin-top: 15vh;
    color: $blue-light;
    align-self: center;
    text-align: center;
    width: 70vw;
    // max-width: 70vw;
    &--paragraph:last-child {
      padding-top: 2rem;
      font-size: calc(#{$default-font-size} * 1.25);
      @include respond(phone-land) {
        color: $blue-dark;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: 8rem;
        padding: 4rem 2rem;
        background-color: $white;
        font-size: calc(#{$default-font-size} * 1.6);
        border-radius: $radius;
      }
      @include respond(tab-port) {
        font-size: calc(#{$default-font-size} * 1.6);
        color: $blue-dark;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: 4rem;
        padding: 4rem 2rem;
        background-color: $white;
        border-radius: $radius;
      }
    }
    @include respond(phone-land) {
      width: 80vw;
    }
    @include respond(tab-port) {
      margin-top: 10vh;
    }

    &--reasons {
      margin-top: 2rem;
      padding: 1.5rem;
      background-color: $blue-dark;
      border-radius: $radius;
    }

    &--list {
      font-size: calc(#{$default-font-size} * 0.8);
      list-style-position: inside;
      padding: 0 0.3rem;
      @include respond(phone-land) {
        font-size: calc(#{$default-font-size} * 1.25);
      }
      @include respond(tab-port) {
        font-size: calc(#{$default-font-size} * 1.25);
      }
    }
    &--item {
      padding: 0.3rem 0;
      @include respond(phone-land) {
        padding: 1rem 0;
      }
      @include respond(tab-port) {
        padding: 1rem 0.3rem;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    margin: 0rem 5rem 5rem;
    flex-wrap: wrap;
    flex-grow: 1;
    @include respond(tab-land) {
      justify-content: space-evenly;
    }
    @include respond(tab-port) {
      justify-content: space-around;
    }
  }

  &__single {
    display: flex;
    padding: 2rem 4rem;
    margin: 3rem 4rem 0;
    flex-direction: column;
    justify-content: space-between;
    height: 40rem;
    width: 25vw;
    color: $blue-dark;
    text-align: center;
    @include bcg-format;
    border-radius: $radius;
    box-shadow: 0 0 3rem $orange-light;
    overflow-wrap: break-word;
    cursor: pointer;
    transition: $anim;
    &-front {
      &--Doradztwo {
        @include bcg-offer-front(url(../../images/rescue_color_s.jpg));
      }
      &--Konsultacje {
        @include bcg-offer-front(url(../../images/mentor_fishing_color_s.jpg));
      }
      &--Szkolenia {
        @include bcg-offer-front(url(../../images/training_color_s.jpg));
      }
    }
    &-back {
      @include bcg-offer-back;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    @include respond(tab-land) {
      width: 75vw;
      margin-bottom: 5rem;
    }
    @include respond(tab-land-small) {
      height: 45rem;
    }
    @include respond(tab-port) {
      height: 52rem;
      width: 70vw;
      margin-bottom: 5rem;
    }
    @include respond(tab-port-small) {
      height: 52rem;
    }
    @include respond(phone-land-small) {
      height: 80vh;
      width: 80vw;
      margin-bottom: 5rem;
    }
    @include respond(phone-port) {
      height: 100rem;
      width: 70vw;
    }
    &--desc {
      height: 5rem;
      font-size: $default-font-size;
      @include respond(tab-land) {
        font-size: calc(#{$default-font-size}* 1.25);
      }
      @include respond(tab-land) {
        font-size: calc(#{$default-font-size}* 1.5);
      }
      @include respond(phone-land-small) {
        font-size: calc(#{$default-font-size}* 1.35);
      }
      @include respond(tab-port) {
        font-size: calc(#{$default-font-size}* 2);
      }
      @include respond(tab-port-small) {
        padding-bottom: 10rem;
      }
      @include respond(phone-port) {
        margin-bottom: 6rem;
      }
    }

    &--heading {
      padding: 0 2rem;
      text-transform: uppercase;
      color: $orange-light;
      @include respond(tab-land) {
        font-size: calc(#{$default-font-size}* 1.5);
      }
      @include respond(tab-land-small) {
        padding-top: 1rem;
      }
      @include respond(tab-port) {
        font-size: calc(#{$default-font-size}* 2);
      }
    }

    &--single-desc {
      font-size: calc(#{$default-font-size} * 1.25);
      font-weight: 700;
      @include respond(tab-port) {
        font-size: calc(#{$default-font-size} * 1.75);
      }

      @include respond(phone-port) {
        font-size: calc(#{$default-font-size} * 1.25);
        padding: 2rem 0;
      }
    }
    &:hover {
      box-shadow: 0 0 50px $orange-dark;
    }
  }
}
